<<<<<<< HEAD
<div>
    <span>ID del Carrito :  {{cid}}</span>
</div>
<div>
    <ul>
        <h4>Productos agregados al carrito</h4>
        </br>
        {{#each products}}
        <li>
            {{this.product}} - {{this.quantity}}
        </li>
        {{/each}}
    </ul>
</div>
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
</head>
<body>
    <h1>Carrito</h1>
    <ul>
        {{#each cart.products}}
            <li>{{title}} - Cantidad: {{quantity}}</li>
        {{/each}}
    </ul>
</body>
</html>
>>>>>>> 79262e89f630eac5b9b6ec96ccb340982525b0d3
